# ===== APP CONFIGURATION =====

# [OPTIONAL] Mode in which the application is running
# If DEVELOPMENT is not set, it defaults to false
# Affects:
#   - logging strategy, console in dev mode, console + file in prod
#   - frontend dist mounting, doesnt mount in dev mode
#   - uvicorn reload strategy, automaticaly reloads in dev mode
DEVELOPMENT=false

# [OPTIONAL] defines if license check is needed
# Separated from DEVELOPMENT for test deploys
LICENSE_CHECK=true

# [OPTIONAL] Application port
# If not set, defaults to 8000
PORT=8000

# ===== CORS SETTINGS =====

# [OPTIONAL] CORS allowed origins (comma-separated)
# If not set, defaults to "*" (allow all)
# Examples:
# CORS_ORIGINS=http://localhost:3000,http://127.0.0.1:3000,https://myapp.com
# CORS_ORIGINS=http://localhost:3000,https://staging.myapp.com,https://myapp.com
CORS_ORIGINS=*

# [OPTIONAL] CORS credentials (true/false)
# If not set, defaults to true
CORS_CREDENTIALS=true

# [OPTIONAL] CORS allowed methods (comma-separated)
# If not set, defaults to "*" (allow all)
# Examples:
# CORS_METHODS=GET,POST,PUT,DELETE,OPTIONS
# CORS_METHODS=GET,POST,PUT,DELETE,PATCH,OPTIONS
CORS_METHODS=*

# [OPTIONAL] CORS allowed headers (comma-separated)
# If not set, defaults to "*" (allow all)
# Examples:
# CORS_HEADERS=Content-Type,Authorization,X-Requested-With
# CORS_HEADERS=Content-Type,Authorization,X-Requested-With,X-CSRF-Token
CORS_HEADERS=*

# ===== PAGINATION SETTINGS =====

# [OPTIONAL] Number of items per page
# If not set, defaults to 30
PAGINATION_SIZE=30

# ===== DOCKER COMPOSE SETTINGS =====

# [OPTIONAL] Timezone for the docker container
# If not set, defaults to Europe/Moscow
TZ=Europe/Moscow

# [OPTIONAL] Host path for data directory containing your app.db.sqlite3
# If not set, defaults to ./data
# Will be used as bind mount in docker compose to access your DB on host machine
DATA_DIR=./data

# [OPTIONAL] Host directory to recieve logs from app in container
# Will be mounted as bind mount to docker compose
# If not set, defaults to ./app_logs
# LOGS_DIR directory is created by make docker-start automatically
# Avoid creating it manually due to permission issues
# Avoid using just "logs" as logs directory due to permission issues
# Running app without container automatically creates "logs" directory on host
# Starting container after "logs" directory is created on host will cause permission issues
LOGS_DIR=./app_logs

# ===== DATABASE SETTINGS =====
# [OPTIONAL] Modify if you want to keep your db elsewhere from crane_lifting_capacity/data
# Also used to connect to test.db in testing scenarious
DATABASE_URL=sqlite:///crane_lifting_capacity/data/app.db.sqlite3

# ===== DEV PARSING SETTINGS =====
# [OPTIONAL] Path where parsable cranes files are stored
# If not set, defaults to ./cranes
CRANES_DIR=./cranes
