# Editor settings
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store

# Environment files
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Logs
logs
*.log

# Build outputs
dist/
build/
dist
dist-ssr
*.local
*.local-ssr

# Git
*.git/
