# [OPTIONAL] Dir on the host machine, containing app.db.sqlite3
# Will be used by docker-compose for bind-mount
# If not provided, crane_lifting_capacity/backend/data will be mounted to docker image
DATA_DIR=./backend/data

# [OPTIONAL] Provide if you want to run app on different from 8000 port
PORT=8000
