# [OPTIONAL] Dir on the host machine, containing app.db.sqlite3
# Will be used by docker-compose for bind-mount
# If not provided, crane_lifting_capacity/backend/data will be mounted to docker image
DATA_DIR=./backend/data

# [OPTIONAL] Provide if you want to run app on different from 8000 port
PORT=8000


# [OPTIONAL] Affects will frontend/dist be mounted to backend or not
# Needed to avoid errors during tests, when frontend doesnt have dist dir
# Usually never needed to be set, as testing commands pass DEVELOPMENT=true
DEVELOPMENT=false
