.cranes-table-header th {
  background-color: var(--accent-blue) !important;
  padding-top: 6px !important;
  padding-bottom: 6px !important;
}

.crane-name-link:hover {
  text-decoration: underline;
}
