/* Loading state */
.loading-container {
  text-align: center;
  padding: 50px;
}

.loading-header {
  margin-top: 20px;
}

.main-header {
  height: 52px;
}

/* Table header styling */
.cranes-table-header th {
  background-color: var(--accent-yellow) !important;
}
