.home-container {
  overflow-y: auto;
  padding-bottom: 2rem;
}

.home-sidebar {
  position: fixed;
  overflow-y: auto;
  height: 100vh;
}

.home-main-content {
  margin-left: 275px;
  margin-right: 1rem;
}

@media (max-width: 991px) {
  .home-main-content {
    margin-left: 210px;
  }
}
