.home-container {
  overflow-y: auto;
  padding-bottom: 2rem;
}

.loading-container {
  text-align: center;
  padding: 50px;
}

.loading-header {
  margin-top: 20px;
}

.main-header {
  height: 64px;
}

.crane-list-icon {
  width: 36px !important;
  height: 48px !important;
  margin: 0 !important;
}

.home-sidebar {
  position: fixed;
  height: 100vh;
  overflow-y: auto;
}

.home-main-content {
  margin-left: 265px;
  margin-right: 1rem;
}

@media (max-width: 991px) {
  .home-main-content {
    margin-left: 210px;
  }
}
