.cranes-filter-sidebar {
  max-width: 245px;
  display: flex;
  flex-direction: column;
  margin: 80px 1em 10em 1em !important;
}

.filter-section {
  margin-bottom: 16px;
}

.filter-section h4 {
  font-size: 0.9em !important;
}

@media (max-width: 991px) {
  .cranes-filter-sidebar {
    max-width: 180px;
  }
}
