#root {
  height: 100vh;
  display: flex;
  text-align: center;
  background: linear-gradient(
    125deg,
    rgba(255, 255, 255, 0.3),
    rgba(130, 148, 241, 0.3)
  );
}

.app-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.custom-header {
  margin: 5px !important;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

/* For tablets and mobile */
@media (max-width: 1600px) {
  .header-content {
    flex-direction: column;
    justify-content: center;
    gap: 14px;
  }

  .navbar-section {
    position: static;
    left: auto;
    transform: none;
    width: 100%;
  }
}
