#root {
  height: 100vh;
  display: flex;
  text-align: center;
}

.app-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.custom-header {
  background-color: #f0f1f3 !important;
  margin: 0 !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-content {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 8px;
  position: relative;
}

.navbar-section {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  min-width: 720px;
}

/* For tablets and mobile */
@media (max-width: 1250px) {
  .header-content {
    flex-direction: column;
    justify-content: center;
  }

  .navbar-section {
    position: static;
    left: auto;
    transform: none;
    width: 100%;
  }
}
