#root {
  height: 100vh;
  display: flex;
  text-align: center;
}

.app-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.custom-header {
  background-color: #f0f1f3 !important;
  margin: 0 !important;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0 1rem;
}

.navbar-section {
  flex: 1;
}

/* For tablets and mobile */
@media (max-width: 991px) {
  .header-content {
    flex-direction: column;
  }
}
